html
    head
        title To-do List v1.0
        
    body
        h1 Todo List version 1.0 by Noah K!
        ul  
            li Todo 1
            li Todo 2
            li Todo 3
        form(action='addAction', method='post')
            p What do I want to do? 
                input(type='text', name='action')
                input(type='submit', value='Confirm')
            